<div class="container">
  <div class="my-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Login</h1>
  </div>
  <div class="d-flex justify-content-center">
    <form action="/user/login" method="POST" style="width: 540px">
      <div class="form-row mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" id="email" type="text" name="email" class="form-control" placeholder="Email"
          required autofocus>
      </div>
      <div class="form-row mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="password" type="password" name="password" class="form-control"
          placeholder="Password" required>
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="/auth/facebook" role="button" style="color: white" class="btn btn-success mt-2">Facebook Login</a>
      </div>
    </form>
  </div>
  <div class="mb-4 text-center">
    <p><a href="/user/signup">Sign Up</a></p>
  </div>
</div>