<div class="container">
  <div class="my-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Reset Password</h1>
  </div>
  <div class="d-flex justify-content-center">
    <form action="/user/reset-password" method="POST" style="width: 540px">
      <div class="form-row mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" id="email" type="email" name="email" class="form-control" placeholder="Email"
          required autofocus>
      </div>

      <div class="form-row mb-3">
        <label class="form-label" for="opt">One Time Password</label>
        <input class="form-control" id="otp" type="text" name="otp" class="form-control" required>
      </div>

      <div class="form-row mb-3">
        <label class="form-label" for="password">New Password
          <small class="text-muted ms-3">6-16 characters</small>
        </label>
        <input type="password" id="password" name="password" class="form-control" 
        placeholder="Password" minlength="6" maxlength="16" required>
      </div>
      <div class="form-row mb-3">
        <label class="form-label" for="passwordCheck">Password Check
          <small class="text-muted ms-3">6-16 characters</small>
        </label>
        <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" 
        placeholder="Password Check" minlength="6" maxlength="16" required>
      </div>


      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>