body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:link, a:visited {
  color: #58380d;
  font-weight: 900;
  text-decoration: none;
}

.artist-thumbnail {
  border-radius: 50%;
  position: relative;
  margin: 15px auto;
}

#artwork-tag {
  border-radius: 10px;
}

img {
  width: 100%;
} 

.grid-item-exhImage {
  float: left;
  width: 360px;
  margin: 10px;
}

.grid-item-artwork {
  float: left;
  width: 150px;
  margin: 10px;
}

.grid-item-artwork-big {
  float: left;
  width: 210px;
  margin: 8px;
}

.artist-banner, .exhibition-banner, .artworks-banner {
  position: relative;
  z-index: -1;
  margin: 0 -50px;
  height: 150px;
}

.artist-banner {
  background: #f1f1f1e1 center center url('https://i.imgur.com/TeFpxHU.jpg?1');
  background-size: cover;
}

.exhibition-banner {
  background: #e9ceb6e1 center center url('https://i.imgur.com/LmOU17m.jpg');
  background-size: cover;
}

.artworks-banner {
  background: center center url('https://i.imgur.com/36NOAwu.jpg');
  background-size: cover;
}

.exhibition-name {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #442810e1;
  font-weight: 500;
}

.banner-title {
  position: absolute;
  top: 30%;
  left: 180px;
  color: #442810e1;
  font-weight: 500;
}

.banner-details {
  position: absolute;
  top: 55%;
  left: 185px;
  color: #6e4e32e1;
  font-weight: 200;
}

.banner-avatar {
  max-width: 100px;
  position: absolute;
  top: 8%;
  left: 3%
}


/* Artwork Image Triggers Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* horizontal scroll */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper .card {
  flex: 0 0 auto;
}