body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.artist-thumbnail {
  border-radius: 50%;
}

img {
  width: 100%;
} 

.grid-item {
  float: left;
  width: 400px;
  margin: 10px;
}
